.controls {
    top: 0; 
    position: fixed;
    display: block;
    font-size: .9em;
    background-color: white;
}

table {
    display: inline-block;
    vertical-align: top;
}

/* CARDS */

.card img {
    width: 250px;
    height: 350px;
}

#card-container {
    text-align: center;
}

#card-container .card {
    display: none;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.35); 
}

#card-container .card img {
    height: auto !important;
    margin: 0 0 -4px 0;
}
