.controls {
    top: 0; 
    position: sticky;
    display: block;
    font-size: .9em;
    background-color: white;
    text-align: center;
}

fieldset {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    border: 0px;
    padding: 5px;
}

legend {
    background-color:white;
    border: 1px solid;
    padding: 2px;
    font-weight: bold;
}

table td {
    vertical-align: top;
}

/* CARDS */

.card img {
    width: 250px;
    height: 350px;
}

#card-container {
    text-align: center;
}

#card-container .card {
    display: none;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.35); 
}

#card-container .card img {
    height: auto !important;
    margin: 0 0 -4px 0;
}
